{
    acme_dns cloudflare {{ cf_api_token }}
    auto_https disable_redirects
}

mirrors.wale.id.au mirrors.wale.id.au:80 {
    root * /mnt/mirror/
    file_server {
        browse
    }

    # Required for CloudFlare caching
    handle /*.(db|db\.sig|gz|files|sig) {
        header Cache-Control "public, max-age=3600, must-revalidate, no-transform"
    }

    handle /(lastupdate|lastsync) {
        header Cache-Control "public, max-age=3600, must-revalidate, no-transform"
    }

    handle /*.(tar|zst|xz|xz\.sig|zst\.sig) {
        header Cache-Control "public, max-age=604800, immutable";
    }

    # sends any $repo/os/$arch links to the file server
    redir /archlinux/$repo /archlinux
}